In [10]:
import pandas as pd
df1= pd.read_csv('test.csv')
df2= pd.read_csv('train.csv')
df3= pd.read_csv('gender_submission.csv')

1. Kazada ölenlerin yaş ortalamasını bulunuz

In [13]:
df2[df2.Survived == 0].Age.mean()

30.62617924528302

2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [19]:
df2[df2.Survived == 0].Fare.mean()

22.117886885245902

In [20]:
df2[df2.Survived == 0].Fare.mean()

22.117886885245902

3. Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [25]:
df2[(df2.Survived == 0) & (df2.Sex=="male")].Age.mean()

31.618055555555557

4. Kazada ölen Kadınların yaş ortalamasını bulunuz

In [26]:
df2[(df2.Survived == 0) & (df2.Sex=="female")].Age.mean()

25.046875

5. Kazadan kurtulanların yaş ortalamasını bulunuz

In [27]:
df2[df2.Survived ==1 ].Age.mean()

28.343689655172415

6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [28]:
df2[df2.Survived == 1].Fare.mean()

48.39540760233918

7. Kazadan kurtulan toplam kişi sayısını bulunuz

In [30]:
len(df2[(df2.Survived==1)])

342

8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [31]:
df2[df2.Age < 10].Fare.median()

27.0

9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız.

In [34]:
df2.groupby("Pclass").Fare.mean()
df2.groupby("Pclass").Fare.median()

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

In [36]:
(df2[(df2.Sex == "male") & (df2.Survived == 0)].shape[0]) / df2[df2.Sex == "male"].shape[0]

0.8110918544194108

In [37]:
(df2[(df2.Sex == "female") & (df2.Survived == 0)].shape[0]) / df2[df2.Sex == "female"].shape[0]

0.25796178343949044